################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DateConverter/.vs/DateConverter/v17
/DateConverter/obj
/DateConverter/bin/Debug/net6.0
